@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@900&family=Montserrat:wght@100;200;300;400;500;600&family=Raleway:wght@300;400;500;600;700;800&family=Shrikhand&family=Sonsie+One&display=swap');



.landingBg {
  height: 110vh;
  width: 100vw;
  background-color: #CDA98B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flowerLandDiv {
  max-height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;


}

.flowerLandImg {
  max-height: 850px;
  opacity: .8;
}

.landingTextDiv {
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4b3321;

}


.h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 4em;
}

.subtextDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;

}

.h3,
.h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: .9;
}

.h3 {
  font-size: 1.6em;
}

.h4 {
  font-size: 1.3em;
  transition: all .2s ease-in-out;
}


.dukeLink {
  text-decoration: none;
  color: #4b3321;
  transition: all .2s ease-in-out;
}

.dukeLink:hover, .h4:hover {
  transform: scale(1.1);
  color: #fbf6ef;
}