@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@900&family=Montserrat:wght@100;200;300;400;500;600&family=Raleway:wght@300;400;500;600;700;800&family=Shrikhand&family=Sonsie+One&display=swap');




nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #f9ece0;
  background-color: #aa8567;
  z-index: 9999;
}

.navLink {
  text-decoration: none;
  color: #f9ece0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  padding: 30px;
  transition: all .2s ease-in-out;
}


.navLink:hover {
  transform: scale(1.1);
}