@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@900&family=Montserrat:wght@100;200;300;400;500;600&family=Raleway:wght@300;400;500;600;700;800&family=Shrikhand&family=Sonsie+One&display=swap');


.affirmationCardDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-height: 40%;
  padding: 20px;
}


.cardBodyDiv {
  background-color: #e7d5c8a9;
  padding: 40px;
  max-height: 300px;
  overflow-y: scroll;
  width: 70%;

}


ol {
  font-family: 'Montserrat', sans-serif;
  font-size: 300;
}

li {
  padding: 10px;
}

.h3, .h4 {
  font-family: 'Montserrat', sans-serif;
}

.h3 {
  font-weight: 500;
}

.h4 {
  font-weight: 300;
}


.buttonsDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}



.button17 {
  align-items: center;
  background-color: #f5ede7;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #4b3321;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  line-height: 1.25;
  height: 2.5em;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
}

.button17:hover,
.button17:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #4b3321;
}

.button17:hover {
  transform: translateY(-1px);
}

.button17:active {
  background-color: #fbf6ef;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: #4b3321;
  transform: translateY(0);
}
